/* :root {
   --primary-font: Roboto, sans-serif;
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color: #2196F3;
   --primary-bg-color: #FFFFFF;
   --header-logo-color: #000000;
   --address-link-color: rgba(255, 255, 255, 0.6);
   --hero-footer-bg-color: #2F303A;
   --button-hover-focus-bg-color: #188CE8;
   --projects-card-border-color: #EEEEEE;
   --button-secondary-bg-color: #F5F4FA;
   --icons-color: #AFB1B8;
   --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

ul,
ol {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}

img {
   display: block;
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
}

button {
   cursor: pointer;
}

body {
   background-color: var(--primary-bg-color);
   color: var(--primary-text-color);
   font-family: var(--primary-font)
} */

/* .container {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 15px;
   padding-right: 15px;
} */

/* .section {
   padding-top: 94px;
   padding-bottom: 94px;
} */

/* .visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
} */

/* ====================Header==================== */

/* .page-header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 24px;
   padding-bottom: 25px;
}

.nav-style.current {
   position: relative;
}

.nav-style.current::after {
   position: absolute;
      display: block;
      content: '';
      width: 105%;
      height: 4px;
      background-color: var(--accent-color);
      bottom: -33px;
      left: 0;
      border-radius: 2px;      
}

.page-navigation {
   display: flex;
   align-items: center;
   column-gap: 93px;
}

.page-header-link {
   color: var(--header-logo-color) ;
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   transition: color var(--transition-dur-and-func);
}
.page-header-link:hover, .page-header-link:focus {
   color: var(--accent-color);   
}

.logo {
   color: var(--accent-color);
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;   
}

.nav-style {
   display: flex;
   column-gap: 40px;
   color: var(--title-text-color);
   font-family: Roboto, sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   transition: color var(--transition-dur-and-func);
}
.nav-style:hover,
.nav-style:focus {
   color: var(--accent-color);   
}
.nav-style .current {
   color: var(--accent-color);   
}

.contacts-list {
   display: flex;
   align-items: center;
   column-gap: 50px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.02em;
}

.contacts-list-item {
   color: var(--primary-text-color);
   font-family: Roboto, sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: color var(--transition-dur-and-func);
}

.contacts-list-item:hover, .contacts-list-item:focus {
   color: var(--accent-color);   
}

.contacts-icon {
   fill: var(--primary-text-color);
   margin-right: 10px;
   transition: fill var(--transition-dur-and-func);
}

.contacts-list-item:hover .contacts-icon,
.contacts-list-item:focus .contacts-icon {
   fill: var(--accent-color);   
} */


/* ====================hero======================= */
/* .hero-section {
   background-color: var(--hero-footer-bg-color);
   background-image:
   linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/img-theme.jpg');
   text-align: center;
   padding-bottom: 200px;
   padding-top: 200px;
   background-repeat: no-repeat;
   background-size: cover;
}


.hero-title {
   color: var(--primary-bg-color) ;
   font-style: normal;
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   text-transform: uppercase;
   margin-bottom: 30px;
   width: 696px;
   margin-left: auto;
   margin-right: auto;
}

.button {
   color: var(--primary-bg-color);
   background-color: var(--accent-color);
   border: none;
   cursor: pointer;
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   border-radius: 4px;
   padding: 10px 32px;
   letter-spacing: 0.06em;
   display: inline-block;
   min-width: 216px;
   transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.button:hover,
.button:focus {
   color: var(--primary-bg-color) ;
   background-color: var(--button-hover-focus-bg-color);   
} */

/* =========================feature====================== */

/* .feature-section {
   padding-bottom: 47px;
   padding-top: 94px;
}
.feature-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   margin-bottom: 10px;
}
.feature-text {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
}
.feature-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.feature-list-item {
   flex-basis: calc((100% - 3 * 30px) / 4);
}

.feature-icon-box {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
   padding: 25px 100px;
   background-color: var(--button-secondary-bg-color);
} */

/* =================example===================== */
/* .example-section {
   padding-top: 47px;
   padding-bottom: 94px;
}
.example-section-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   margin-bottom: 50px;
   text-align: center;   
}
.example-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.example-list-item {
   flex-basis: calc((100% - 2 * 30px) / 3);
   position: relative;
}

.example-text {
   color: var(--primary-bg-color);
   background: rgba(47, 48, 58, 0.8);
   width: 370px;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   padding-top: 27px;
   padding-bottom: 27px;
   position: absolute;
   bottom: 0;
   left: 0;
} */

/* =======================team===================== */
/* .team-section {
   background-color: var(--button-secondary-bg-color) ;
}

.team-section-title {
   color: var(--title-text-color) ;
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   margin-bottom: 50px;
   text-align: center;
}
.team-title {
   color: var(--title-text-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   margin-bottom: 10px;
}
.team-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.19;
   margin-bottom: 16px;   
}
.team-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.team-list-item {
   flex-basis: calc((100% - 3 * 30px) / 4);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
}
.team-card-wrapper {
   background-color: var(--primary-bg-color) ;
   padding-top: 30px;
   padding-bottom: 30px;
   text-align: center;
   border-top: none;
   border-right: var(--projects-card-border-color);
   border-left: var(--projects-card-border-color);
   border-bottom: var(--projects-card-border-color);
}

.social-list {
   display: flex;
   justify-content: center;
   column-gap: 10px;
}

.social-list-item {

}

.social-list-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: var(--primary-bg-color);
   transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
   background-color: var(--accent-color);   
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
   fill: var(--primary-bg-color);   
}

.social-list-icon {
   fill: var(--icons-color);
   transition: fill var(--transition-dur-and-func);
} */


/* ======================clients================== */
/* .clients-section-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.17;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 50px;
}

.clients-list {
   display: flex;
   justify-content: center;
   column-gap: 30px;
}

.clients-list-item {
   fill: var(--primary-text-color);
}

.clients-list-link {
   display: flex;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid var(--icons-color);
   width: 170px;
   height: 92px;
   border-radius: 4px;
   background-color: var(--primary-bg-color);
   transition: border-color var(--transition-dur-and-func);
}

.clients-list-icon {
   fill: var(--icons-color);
   transition: fill var(--transition-dur-and-func);
}

.clients-list-link:hover, .clients-list-link:focus {
   border-color: var(--accent-color);   
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
   fill: var(--accent-color);   
} */


/* =======================footer=================== */

/* .page-footer {
   background-color: var(--hero-footer-bg-color);
   padding-top: 60px;
   padding-bottom: 60px;
   transition: color var(--transition-dur-and-func);
}

.footer-box {
   display: flex;
   align-items: baseline;
}

.main-footer {
   margin-right: 70px;
}

.page-footer-logo {
   margin-bottom: 20px;
}

.page-footer-link {
   color: var(--primary-bg-color) ;
   font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   margin-bottom: 20px;
   transition: color var(--transition-dur-and-func);
}

.page-footer-link:hover,
.page-footer-link:focus {
   color: var(--accent-color);   
}

.address-list-item-text {
   color: var(--primary-bg-color);
   text-decoration: none;
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   transition: color var(--transition-dur-and-func);
}

.address-list-item-text:hover,
.address-list-item-text:focus {
   color: var(--accent-color);
   transition: color var(--transition-dur-and-func);
}

.address-list-item-link {
   color: var(--address-link-color);
   font-family: Roboto, sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   transition: color var(--transition-dur-and-func);
}

.address-list-item-link:hover,
.address-list-item-link:focus {
   color: var(--accent-color);
   transition: color var(--transition-dur-and-func);
}

.footer-wrapper {
   margin-right: 93px;
}

.footer-text {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--primary-bg-color);
   margin-bottom: 20px;
}

.footer-list {
   display: flex;
   justify-content: center;
   column-gap: 10px;
}

.footer-list-item {

}

.footer-list-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;
   background-color: var(--primary-bg-color);
   background: rgba(255, 255, 255, 0.1);
   transition: background-color var(--transition-dur-and-func);
}

.footer-list-link:hover,
.footer-list-link:focus {
   background-color: var(--accent-color);
   transition: background-color var(--transition-dur-and-func);
}

.footer-list-icon {
   fill: var(--primary-bg-color);
   transition: fill var(--transition-dur-and-func);
}

.footer-subscribe {
   min-width: 570px;
}

.footer-subscribe-text {
   margin-bottom: 20px;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--primary-bg-color);
}

.footer-form-wrapper {

}

.footer-form-input {
   width: 358px;
   padding: 15px 16px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   background: var(--hero-footer-bg-color);
   color: var(--primary-bg-color);
   margin-right: 12px;
}

.footer-form-input::placeholder {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.25px;
   color: rgba(255, 255, 255, 0.6);   
}

.footer-form-btn {
   color: var(--primary-bg-color);
   background-color: var(--accent-color);
   border: none;
   cursor: pointer;
   position: relative;
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   border-radius: 4px;
   padding-top: 10px;   
   padding-bottom: 10px;
   padding-left: 28px;
   padding-right: 62px;
   letter-spacing: 0.06em;
   display: inline-block;
   align-items: center;
   min-width: 200px;
   transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
   color: var(--primary-bg-color);
   background-color: var(--button-hover-focus-bg-color);
}

.footer-form-icon {
   position: absolute;
   bottom: 0;
   right: 28px;
   transform: translateY(-50%);
} */

/* =================Portfolio================== */

/* .projects-filter-list {
   margin-bottom: 34px;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 8px;
}

.button-secondary {
   text-decoration: none;
   color: var(--title-text-color);
   background-color: var(--button-secondary-bg-color) ;
   min-width: 73px;
   border: none;
   cursor: pointer;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   padding: 6px 22px;
   border-radius: 4px;
   transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}

.button-secondary:hover,
.button-secondary:focus {
   color: var(--primary-bg-color);
   background-color: var(--accent-color);
   padding: 6px 22px;
   border-radius: 4px;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}

.projects-list {
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
}
.projects-list-item {
   flex-basis: calc((100% - 8 * 30px) / 9);
   
}

.projects-list-item:hover {
   background: var(--primary-bg-color);
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
   transition: background var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}

.projects-title {
   color: var(--title-text-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   margin-bottom: 4px;
}
.projects-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;   
}

.projects-link {
   color: var(--primary-text-color);
}

.projects-thumb {
   position: relative;
   overflow: hidden;
}
.projects-overlay {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   transform: translateY(100%);
   transition: transform var(--transition-dur-and-func);
   background: rgba(33, 150, 243, 0.9);
   font-size: 18px;
   line-height: 1.56;
   color: var(--primary-bg-color);
   padding: 63px 24px;
}

.projects-link:hover .projects-overlay,
.projects-link:focus .projects-overlay {
   transform: translateY(0%);
   transition: transform var(--transition-dur-and-func), color var(--transition-dur-and-func);
}

.projects-card-wrapper {
   padding: 20px 24px;
   padding-bottom: 20px;
   border-left: 1px solid var(--projects-card-border-color) ;
   border-right: 1px solid var(--projects-card-border-color) ;
   border-bottom: 1px solid var(--projects-card-border-color) ;
} */

/* ====================backdrop=================== */
/* .backdrop {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);
   transition: opacity var(--transition-dur-and-func),
   visibility var(--transition-dur-and-func),
   transform var(--transition-dur-and-func);
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transform: scale(2.5);
} */

/* ====================backdrop=================== */


/* ====================modal=================== */
/* .modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 528px;
   height: 581px;
   border-radius: 4px;
   background: rgb(255, 255, 255);
   padding: 40px;
}
.modal-close-button {
   background: var(--primary-bg-color);
   border: 1px solid rgba(0, 0, 0, 0.1);
   position: absolute;
   top: 8px;
   right: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   padding: 0;
   transition: border-color var(--accent-color);
}

.modal-close-button-icon {
   fill: var(--header-logo-color);
   transition: fill var(--transition-dur-and-func);
}

.modal-close-button:hover {
   border-color: var(--accent-color);   
}

.modal-close-button:hover .modal-close-button-icon {
   fill: var(--accent-color);
}

.modal-caption {
   color: var(--title-text-color);
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 20px;
   line-height: 1.15;
   text-align: center;
   margin-bottom: 12px;
} */

/* ====================modal=================== */

/* =================modal form================= */

/* .modal-form {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.modal-form-field-desc {
   display: block;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   color: var(--primary-text-color);
   margin-bottom: 4px;
}

.modal-form-input-wrapper {
   display: block;
   position: relative;
}

.modal-form-input {
   width: 100%;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding-left: 42px;
   transition: border-color var(--transition-dur-and-func);
}

.modal-form-input:focus {
   outline: none;
   border-color: var(--accent-color);
}

.modal-form-icon {
   position: absolute;
   top: 50%;
   left: 12px;
   transform: translateY(-50%);
   display: block;
   background-color: var(--primary-bg-color);
   transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus + .modal-form-icon {
   fill: var(--accent-color);
}

.modal-form-message {
   resize: none;
   width: 100%;
   height: 120px;
   padding: 12px 16px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition: border-color var(--accent-color);
}

.modal-form-message::placeholder {
   color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
   outline: none;
   border-color: var(--accent-color);
}

.modal-form-btn {
   color: var(--primary-bg-color);
   background-color: var(--accent-color);
   border: none;
   cursor: pointer;
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   border-radius: 4px;
   padding: 10px 52px;
   letter-spacing: 0.06em;
   display: inline-block;
   align-self: center;
   min-width: 96px;
   transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), filter var(--transition-dur-and-func);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.modal-form-btn:hover,
.modal-form-btn:focus {
   color: var(--primary-bg-color);
   background-color: var(--button-hover-focus-bg-color);
}

.modal-form-link {
   color: var(--accent-color);
}

.modal-form-check-wrapper {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.modal-form-own-check {
   border: 1px solid var(--title-text-color);
   border-radius: 2px;
   cursor: pointer;
   margin-right: 10px;
}

.modal-form-check:checked + .modal-form-own-check {
   background-color: var(--accent-color);
   border-color: var(--accent-color);
   border: none;
}

.modal-form-check:focus + .modal-form-own-check {
   outline: 2px solid var(--accent-color);
   border: none;   
}

.modal-form-own-check-icon {
   display: none;
   fill: var(--primary-bg-color);
}

.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
   display: block;
} */

/* ================/modal form================= */