.modal-form {
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}

.modal-form-field-desc {
   display: block;
   font-weight: 400;
   font-size: 12px;
   line-height: 1.17;
   color: var(--primary-text-color);
   margin-bottom: 4px;
}

.modal-form-input-wrapper {
   display: block;
   position: relative;
}

.modal-form-input {
   width: 100%;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding-left: 42px;
   transition: border-color var(--transition-dur-and-func);

   &:focus {
      outline: none;
      border-color: var(--accent-color);
   }   
}

.modal-form-icon {
   position: absolute;
   top: 50%;
   left: 12px;
   transform: translateY(-50%);
   display: block;
   background-color: var(--primary-bg-color);
   transition: fill var(--transition-dur-and-func);

   .modal-form-input:focus + & {
      fill: var(--accent-color);
   }
}

.modal-form-message {
   resize: none;
   width: 100%;
   height: 120px;
   padding: 12px 16px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition: border-color var(--accent-color);

   &:focus {
      outline: none;
      border-color: var(--accent-color);
   }

   &::placeholder {
      color: rgba(117, 117, 117, 0.5);
   }
}

.modal-form-btn {
   color: var(--primary-bg-color);
   background-color: var(--accent-color);
   border: none;
   cursor: pointer;
   font-family: 'Roboto';
   font-weight: 700;
   font-size: 16px;
   line-height: 1.88;
   border-radius: 4px;
   padding: 10px 52px;
   letter-spacing: 0.06em;
   display: inline-block;
   align-self: center;
   min-width: 96px;
   transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), filter var(--transition-dur-and-func);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

   &:hover,
   &:focus {
      color: var(--primary-bg-color);
      background-color: var(--button-hover-focus-bg-color);
   }
}

.modal-form-link {
   color: var(--accent-color);
}

.modal-form-check-wrapper {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.modal-form-own-check {
   border: 1px solid var(--title-text-color);
   border-radius: 2px;
   cursor: pointer;
   margin-right: 10px;

   .modal-form-check:checked + & {
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      border: none;
   }

   .modal-form-check:focus + & {
      outline: 2px solid var(--accent-color);
      border: none;
   }
}

.modal-form-own-check-icon {
   display: none;
   fill: var(--primary-bg-color);
}

.modal-form-check:checked + .modal-form-own-check .modal-form-own-check-icon {
   display: block;
}